.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
body{
  color:hsla(0, 0%, 100%, 0.75);
  
}
.container{
  width: 900px;
    margin: auto;
    padding-top: 80px;
}
.row{
  display: flex;
  height: 500px;
  width: 900px;
  color:  hsl(0, 0%, 95%);
}
.btn{
  border-color: hsl(0,0%,95%);
  background-color: hsl(0,0%,95%);
  border-radius: 2.3rem;
}
.car-sedans{
  background-color: hsl(31, 77%, 52%);
  border-start-start-radius: 10px;
border-bottom-left-radius: 10px;
padding-left: 70px;
}
.car-suv{
  background-color: hsl(184, 100%, 22%);
  padding-left: 70px;
}
.car-luxury{
  background-color: hsl(179, 100%, 13%);
  border-end-end-radius: 10px;
border-top-right-radius: 10px;
padding-left: 60px;
}
h4{
  font-family:'Big Shoulders Display';
  font-weight: 700;
  font-size: 35px;
  margin-top: 1.5rem!important;
  text-transform: uppercase;
  letter-spacing: 2px;
}
p{
  font-family:'Lexend Deca';
  font-weight: 400;
  width: 175px;
  
}
svg{
  margin-top: 4.5rem!important;
}
.sedan-button{
  color:hsl(31, 77%, 52%);
}
.suv-button{
  color: hsl(184, 100%, 22%);
}
.luxury-button{
  color: hsl(179, 100%, 13%);
}

@media only screen and (max-width: 990px) {
  .container{
    width: 414px;
margin: 65px;
padding-top: 0px;
}
.row{
  --bs-gutter-x: 6.5rem;
  display: table-header-group;
  height: 500px;
  width: 900px;
  color:  hsl(0, 0%, 95%);
}
.car-sedans{
  border-start-start-radius: 10px;
border-bottom-left-radius: 0px;
padding-left: 50px;
border-top-right-radius: 10px;
padding-bottom: 22px;
}
.car-suv{
  padding-left: 50px;
  padding-bottom: 22px;
}
.car-luxury{
  border-end-end-radius: 10px;
border-top-right-radius: 0px;
border-bottom-left-radius: 10px;
padding-left: 50px;
padding-bottom: 22px;
}
}
