    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    body {
      background-color: #0c0c1d;
    }

    .contentText {
      color: #feffff;
      margin-left: 4rem;
      margin-top: 3rem;
    }



    .insight {
      color: #8352ae;
    }

    .Stats {
      display: block;
      font-weight: 100;
      font-size: small;
      text-transform: uppercase;

    }

    .card-text {
      font-weight: 100;
    }

    .lightPurple {
      color: #dcd0e6;
    }



    @media only screen and (min-width:1024px) {
      .box {
        background-color: #1c1938;
        margin: 140px;
        height: 350px;
        border-radius: 5px;
      }

      .desktopimage {
        width: 331px;
        height: 351px;
        border-radius: 5px;
      }

      .row {
        --bs-gutter-x: 2.5rem;
        display: inline-flex;
        flex-flow: nowrap;
      }

      .Mobileimage {
        display: none;
      }
    }



    @media only screen and (max-width: 911px) {

      .box {
        background-color: #1c1938;
        height: 350px;
        width: 700px;
        border-radius: 5px;
        margin: 2rem;
      }

      .desktopimage {
        width: 355px;
        height: 351px;
        border-radius: 5px;
      }

    }

    @media only screen and (max-width: 760px) {

      .box {
        background-color: #1c1938;
        height: 760px;
        width: 355px;
        margin: 30px;
        border-radius: 5px;
      }

      .desktopimage {
        display: none;
      }

      .Mobileimage {
        width: 355px;
        height: 351px;
        display: inline !important;
        border-radius: 5px;

      }

      .contentText {
        color: #feffff;
        margin-left: 0rem;
        margin-top: 0rem;
        text-align: center;
        width: fit-content;
        height: fit-content;
      }
    }
